* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

li {
  list-style: none;
}

header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  padding: 10px 0px;
}

header .title {
  padding: 30px 16px;
  line-height: 1px;
}

header a {
  display: inline-block;
}

nav {
  background-color: #333;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav li {
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

nav a {
  color: #fff
}

a {
  text-decoration: none;
  color: #333;
}

#pickup {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  margin-bottom: 60px;
}

#pickup article {
  width: 32%;
}

#pickup img {
  width: 100%;
  height: 250px;
}

#pickup .article-title {
  font-size: 1rem;
  margin: 10px 0 15px 0;
}

.readmore {
  font-size: 0.875rem;
  text-align: center;
}

.readmore a {
  padding-bottom: 1px;
  color: #333;
  position: relative;
}

.readmore a:after {

}

#container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

main {
  width: 65%;
}

main article {
  margin-bottom: 80px;
}

main article-title {
  font-size: 1.5rem;
  margin: 10px 0 15px 0;
}

main ul {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

main li {
  font-size: 0.875rem;
  margin-right: 20px;
}

main img {
  width: 100%;
}

main .text {
  padding: 10px 40px 30px 40px;
}

#sidebar {
  width: 33%;
  padding: 20px;
}

.author {
  text-align: center;
  margin-bottom: 60px;
}

.author img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 30px;
}

#sidebar .side-title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.125rem;
}

.author .profile {
  font-size: 0.875rem;
  text-align: left;
}

.ranking {
  text-align: center;
  margin-bottom: 60px;
}

.ranking div {
  margin-bottom: 30px;
}

.ranking img {
  width: 100%;
  height: 200px;
}

.ranking p {
  text-align: left;
  font-weight: normal;
  font-size: 0.875rem;
}

.archive {
  text-align: center;
  margin-bottom: 60px;
}

.archive ul {
  border-bottom: 1px solid #777;
}

.archive li {
  font-size: 0.875rem;
  border-top: 1px solid #777;
  padding: 20px;
  text-align: left;
}

footer {
  font-size: 0.875rem;
  background-color: #f7f7f7;
}

footer .content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer .item {
  width: 30%;
}

footer .footer-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 30px;
}

footer ul {
  margin: 20px 0;
}

footer li {
  margin-bottom: 5px;
}

footer .arrow {
  position: relative;
  display: inline-block;
  padding-left: 12px;
  color: #333;
}

footer .arrow::before {
  content:'';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: #333;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

footer .menu-list {
  border-bottom: 1px solid #777;
}

footer .menu-list li {
  border-top: 1px solid #777;
  padding: 15px;
  text-align: left;
}

footer .timeline {
  max-width: 100%;
}

footer .footer-text {
  text-align: center;
}

footer .footer-text p {
  font-size: 0.75rem;
  padding: 5px;
}

@media screen and (max-width:768px) {

  #pickup {
    display: block;
    margin-bottom: 100px;
  }

  #pickup article {
    width: 100%;
  }

  #pickup img {
    height: 400px;
  }

  .readmore {
    margin-bottom: 30px;
  }

  #pickup .article-title {
    margin: 10px 0 10px 0;
  }

  #container {
    display: block;
  }

  main {
    width: 100%;
  }

  main .article-title {
    margin: 10px 0 10px 0;
  }

  #sidebar {
    width: 100%;
  }

  .ranking img {
    height: 400px;
  }

  .archive {
    margin-bottom: 30px;
  }

  footer .content {
    display: block;
  }

  footer .item {
    width: 100%;
    margin-bottom: 50px;
  }

}